*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --FuentePrincipal:'Roboto', sans-serif;
    
    --colorNegro: #191716;
    --colorBlanco: #ffff;
    --colorPlomo: #E8E8E8;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--colorBlanco);
    font-family: var(--FuentePrincipal);
    
}


.header{
    background-color: var(--colorBlanco);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.contenedor{
    height: 70px;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.header__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav a {
    text-decoration: none;
    display: inline-block;
    color: var(--colorNegro);
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
}

/* .header__logo{
    
    height: 70px;
    width: auto;
} */

.header__logo img{
    height: 70px;
    width: auto;
}


.header__menu{
    display: none;
}

.header__menu a i{
    font-size: 40px;
}

.espacio{
    height: 1000px;
}

.header__menu-barra a i{
    font-size: 40px;

}

.header__menu-enlaces{
    
    margin-left: 10px;
}
.header__menu-enlaces a {
    display: block;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--colorNegro);
    font-weight: 700;
    font-size: 25px;
}

/* Portada */

.inicio__nosotros{
    display: flex;
    height: 600px;
    
    justify-content: space-between;
    align-items: center;
}

.inicio__nosotros-img img{
    width: 100%;
    height: 250px;
}

.inicio{
    height: 800px;
    background: linear-gradient(to left, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
    

.wave{
    
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
}

.inicio__nosotros-titulo{
    
    margin-top: 150px;
    height: 400px;
    display: inline-block;
    width: 100%;
    font-size: 40px;
    /* background-color: red; */
    text-align: center;
    z-index: 10;
    

}
.inicio__nosotros-titulo h1{
    font-family: 'Great Vibes', cursive;
    text-shadow: 3px 2px var(--colorBlanco);
}



.boton__inicio{
    display: block;
    font-family: var(--FuentePrincipal);
    font-size: 30px;
    text-decoration: none;
    
    padding: 25px 30px;
    width: 120px;
    border-radius: 50px;
    margin: 30px auto; 
    color: #8666B1;
    background-color: #fff;
    
}

.boton__inicio:hover{
    background-color: #8666B1;
    color: #fff;
    z-index: 100;
}

@media only screen and (max-width: 992px){

    .header__menu{
        display: block;
    }

    .header__nav{
        display: none;
    }

    .inicio__nosotros{
        
        flex-direction: column;
    }

    .inicio__nosotros-titulo{
        margin-top: 30px;
    }
        
    

}

@media only screen and (max-width: 500px){
    .inicio__nosotros-titulo h1{
        font-size: 70px;
        color: #fff;
        text-shadow: 1px 2px var(--colorNegro);
    }



    
}


